body{
    margin: 0;
    padding: 0;
    border: 0;
}

nav{
    height: 48px;
    width:  100vw;
    /* padding: 6px; */
    
    /* background-color: #994040; */
}
.row{
display: flex;
flex-direction: row;
align-items: center;
}

.avatar{
    width: 36px;
    height:36px;
    background-color: #ffd000;
    border-radius: 50%;
}


.menu_items{
   align-self: flex-start;
   width: 20%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   
}
.flex_container{
    display: flex; 
    justify-content: center;
    align-items: center;

}
.logo_container{
    min-height: 92px;
    width: 100%;
    height: calc(100vh - 560px);
    background-color: #ffaeae;
}
.search_container{
    padding: 20px;
    height: 100px;
    background-color: #f83030;
    margin: 0 auto;
    padding-top: 6px;
    width: auto;
    max-width: 584px;
    position: relative;
}

.search_container input{
    width: 100%;
    font-family: Helvetica Neue,Noto Naskh Arabic UI,Arial,sans-serif;
    line-height: 22px;
    margin-bottom: 8px;
    height: 46px;
    width: 100%;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: #e8eaed;
    background-color: #e8eaed;
    word-wrap: break-word;
    outline: none;
    display: flex;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    z-index: 3;
    min-height: 44px;
    /* background: #202124; */
    border: 1px solid #5f6368;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
        /* width: 638px;
        width: auto; */
    max-width: 584px
}
/* nav + div{
    background-color: #fff;
} */