body{
    margin: 0;
    padding: 0;
    border: 0;
}

a{
    text-decoration: none;
}
nav{
    height: 48px;
    width:  100vw;
    /* padding: 6px; */
    
    /* background-color: #994040; */
}
.row{
display: flex;
flex-direction: row;
align-items: center;
}

.avatar{
    width: 36px;
    height:36px;
    background-color: #ffd000;
    border-radius: 50%;
}


.menu_items{
   align-self: flex-start;
   width: 20%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   
}
.flex_container{
    display: flex; 
    justify-content: center;
    align-items: center;

}
.logo_container{
    min-height: 92px;
    width: 100%;
    height: calc(100vh - 560px);
    /* background-color: #ffaeae; */
}
.search_container{
    padding: 20px;
    /* height: 100px; */
    /* background-color: #f83030; */
    margin: 0 auto;
    padding-top: 6px;
    width: auto;
    max-width: 584px;
    position: relative;
    flex-direction: column;
}

.search_container input{
    width: 100%;
    font-family: Helvetica Neue,Noto Naskh Arabic UI,Arial,sans-serif;
    line-height: 22px;
    margin-bottom: 8px;
    height: 46px;
    width: 100%;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: #e8eaed;
    background-color: transparent;
    word-wrap: break-word;
    outline: none;
    display: flex;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    z-index: 3;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    /* width: 638px;
    width: auto; */
    max-width: 584px
}

.search_container center {
    /* height: 70px; */
    margin-top: 20px;
    margin-bottom:14px;
}
.search_container center  button {
    
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Helvetica Neue,Noto Naskh Arabic UI,Arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
/* nav + div{
    background-color: #fff;
} */


footer{
    width: 100%;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;
    flex-shrink: 0;
    box-sizing: border-box;
    background: #f2f2f2;

 
    
    /* background: #171717; */
   position: fixed;
   bottom: 0;
   left: 0;
}

footer .footer1 {
    font-family: arial,sans-serif;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
}

footer .footer2{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.foooter_menu{
    font-size: 14px;
    font-family: Helvetica Neue,Noto Naskh Arabic UI,Arial,sans-serif;
    color: #bdc1c6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.foooter_menu a{
    font-size: 14px;
    font-family: Helvetica Neue,Noto Naskh Arabic UI,Arial,sans-serif;
    text-decoration: none;
    display: block;
    padding: 15px;
    white-space: nowrap;
    color: #70757a;
}

 
